<div class="cotainer">
	<div class="row">
		<div class="center">
			<p>タスク名<%= @task.task_name %></p>
			<p>詳細<%= @task.details %></p>
			<p>ステータス<%= @task.status %></p>
			<p>締切日<%= @task.deadline_at.strftime('%Y/%m/%d') %></p>
			<%= link_to "edit", edit_task_path(@task.id) %>
			<%= link_to "home", root_path %>
		</div>
	</div>
</div>
